* {margin: 0;padding: 0;box-sizing: border-box;}
html,body{height:100%;font-size: 16px;margin: 0!important;background: #fff;}
body {font-family: microsoft yahei, 'Calibri';font-size: 16px;line-height: 24px;width: 100%;overflow-x: hidden;}
img {border: 0;max-width: 100%;}
img[src=''],img:not([src]){opacity: 0;}
a{text-decoration:none!important;}
a button{text-decoration:none!important;}
ul{list-style: none;}
.left{float: left;}
.right{float: right;}
.block{display: block;}
.clear {clear: both;margin: 0px;padding: 0px;display: block;}
.hide{display: none;}
.noindent{text-indent: 0!important;}
.en{font-family: Arial;}
p{margin: 0;}

.CtaButton{-webkit-appearance: none;-moz-appearance: none;appearance: none;background: none;border: 2px solid transparent;border-bottom: none;border-right: none;cursor: pointer;display: inline-block;font-size: 14px;font-weight: 700;padding: 10px 60px 10px 22px;position: relative;text-decoration: none;transition: background 250ms, color 250ms;margin: 1rem 0;border-color:#a1cd1a;color: #a1cd1a;line-height: 2;}
.CtaButton::before {bottom: 0;height: 2px;left: 0;-ms-transform: scaleX(0.77);transform: scaleX(0.77);-ms-transform-origin: 0 1px;transform-origin: 0 1px;width: 100%;}
.CtaButton:hover {transition-delay: 250ms;}
.CtaButton:hover::before,.CtaButton:hover::after {-ms-transform: scaleX(1);transform: scaleX(1);}
.CtaButton::before, .CtaButton::after {content: '';display: block;position: absolute;transition: transform 200ms 200ms;background: #a1cd1a;}
.CtaButton::after {height: 100%;right: 0;top: 0;-ms-transform: scaleY(0.6);transform: scaleY(0.6);-ms-transform-origin: 1px 0;transform-origin: 1px 0;width: 2px;}
*, *::before, *::after {box-sizing: inherit;margin: 0;padding: 0;}
.CtaButton:hover { background: #a1cd1a; color: #fff;}
.CtaButton .CtaButton-arrow {position: absolute;right: 30px;top: -5px;}
.DirectionalArrow--right {transform: rotate(-90deg) translatez(0);}
.DirectionalArrow--right, .DirectionalArrow--left, .DirectionalArrow--down, .DirectionalArrow--up {display: inline-block;height: 18px;left: auto;vertical-align: middle;}
.DirectionalArrow, .DirectionalArrow--right, .DirectionalArrow--left, .DirectionalArrow--down, .DirectionalArrow--up {color: inherit;display: block;height: 60px;outline: none;position: relative; width: 40px;}
.DirectionalArrow::before {background: currentColor;bottom: 0;content: '';display: block;height: 40%;left: 19px;position: absolute;-ms-transform-origin: 50% 100%;transform-origin: 50% 100%;width: 2px;}
.DirectionalArrow::after {border-right: solid 2px currentColor;bottom: 3px;content: '';display: block;height: 14px;left: 8px;position: absolute;transform: rotate(45deg) translatez(0);-ms-transform-origin: 50% 100%;transform-origin: 50% 100%;width: 14px;}
.DirectionalArrow--right::after, .DirectionalArrow--left::after, .DirectionalArrow--down::after, .DirectionalArrow--up::after {bottom: 2px;height: 12px;left: 12px;width: 10px;}

.elementor-32 .swiper-slide{text-align: center;position: relative;}
.elementor-32 .swiper-slide-active:after{content: '';position: absolute;width: 50%;height: 2px;top: 35%;left: 50%;z-index: -1;background: #70ae2e;}
.elementor-32 .swiper-slide-next:after{content: '';position: absolute;width: 100%;height: 2px;top: 35%;left: 0;z-index: -1;background: #70ae2e;}
.elementor-32 .swiper-slide-next+.swiper-slide:after{content: '';position: absolute;width: 50%;height: 2px;top: 35%;left: 0;z-index: -1;background: #70ae2e;}
.elementor-32 .swiper-slide a{width: 70%;display: inline-block;color: #70ae2e;font-size: 0.875rem;}
.elementor-32 .swiper-slide a img{width: 5rem;margin: 0 auto 1rem;}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{background: url(../images/5.png);background-size: 100% 100%;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{background: url(../images/4.png);background-size: 100% 100%;}

.elementor-element-4b8ca70 .CtaButton{border-color:#fff;color: #fff;}
.elementor-element-4b8ca70 .CtaButton:hover{color: #fff;background: #a1cd1a;}
.elementor-element-4b8ca70 .CtaButton::before,.elementor-element-4b8ca70 .CtaButton::after {background: #fff;}
.elementor video{height: auto!important;}
.header-top{background: #003a81;height: 35px;}
.header-top .cont{width: calc(100% - 8rem);margin: 0 auto;display: flex;justify-content: space-between;}
.header-top .lf{display: flex;color: #fff;line-height: 35px;font-size: 1rem;}
.header-top .lf .earch{width: 20px;margin: 7px 10px 0 0;}
.header-top .lf .sq{width: 15px;margin: 14px 0 0 20px;}
.header-top .rt{display: flex;}
.header-top .rt ul.primary-menu{margin: 0;}
.header-top .rt li{margin: 5px 0;padding: 0 2rem;border-right: 1px solid #fff;line-height: 25px;height: 25px;}
.header-top .rt li a{color: #fff!important;line-height: 25px;font-size: 1rem;}
.header-top .rt form{margin: 0 0 0 2rem;background: #e18020;padding: 10px 0 10px 20px;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;display: flex;}
.header-top .rt form div{margin-right: 10px;}
.header-top .rt form img{display: inline-block;height: 20px;margin-top: 2px;}
.header-top .rt form input{border: 0;height: 25px;background: 0;padding: 0;color: #fff!important;outline: none;width: 100px;font-size: 1.2rem;}
.site-logo img{width: 12rem;}
.primary-menu a{color: #58595b!important;font-size: 1rem;}
.elementor-element-79f981d .elementor-widget-container p{color: #fff;font-size: 1rem;}
.elementor-element-79f981d .elementor-widget-container p.title{font-size: 1.5rem;margin-bottom: 0.5rem;}
.elementor-element-79f981d .elementor-widget-container p.in{font-size: 0.875rem;margin-bottom: 0.5rem;}
.elementor-element-79f981d .elementor-widget-container a{color: #fff;}
.elementor-element-79f981d .elementor-widget-container>img{margin-bottom: 0.5rem;}
.elementor-element-79f981d .elementor-widget-container a img{display: inline-block;width: 20px;margin-left: 5px;vertical-align: middle;}

.elementor-element-1ca8141  .elementor-widget-container p.title{color: #70ae2e;font-size: 3rem;line-height: 1;margin-bottom: 10rem;}
.elementor-element-1ca8141  .elementor-widget-container p.title span{color: #003a81;font-size: 4.5rem;}
.elementor-element-1ca8141  .elementor-widget-container p.t{color: #808080;font-size: 1.25rem;}
.elementor-element-1ca8141  .elementor-widget-container p.t span{color: #70ae2e;font-size: 2.5rem;}
.elementor-element-1ca8141  .elementor-widget-container p.intro{color: #58595b;font-size: 0.95rem;margin-bottom: 0.5rem;}

.elementor-element-badde29 .elementor-widget-container p.title{color: #58595b;font-size: 1.5rem;margin-bottom: 1rem;}
.elementor-element-badde29 .elementor-widget-container p.intro{color: #58595b;font-size: 1rem;margin-bottom: 1rem;}
.elementor-element-badde29 .elementor-widget-container p.y{color: #e18020;font-size: 1rem;}
.elementor-element-badde29 .elementor-widget-container{background: rgba(255,255,255,0.82);height: 30rem;}
.elementor-element-badde29 .elementor-column.elementor-col-33{width: 40%;}
.elementor-element-badde29 .elementor-column.elementor-col-66{width: 60%;}

.elementor-element-ad6bb96 .elementor-widget-container .title{margin-bottom: 2rem;}
.elementor-element-ad6bb96 .elementor-widget-container .title .left .t{color: #70ae2e;font-size: 2rem;line-height: 1.1;}
.elementor-element-ad6bb96 .elementor-widget-container .title .left .t span{color: #e18020;font-size: 2.75rem;}
.elementor-element-ad6bb96 .elementor-widget-container .title .right .t{color: #58595b;font-size: 0.8rem;padding-top: 4rem;}
.elementor-element-ad6bb96 .elementor-widget-container .video{position: relative;}
.elementor-element-ad6bb96 .elementor-widget-container .video .CtaButton{position: absolute;left: calc(50% - 5rem);top: 45%;}

.elementor-element-857861f .elementor-widget-container p{color: #58595b;font-size: 0.8rem;margin-bottom: 1rem;}
.elementor-element-857861f .elementor-widget-container p.title{color: #70ae2e;font-size: 1.75rem;margin-bottom: 1rem;}
.elementor-element-857861f .elementor-widget-container img{margin-bottom: 1rem;}

#site-footer{background: #003a81;padding: 2rem 4rem;}
#site-footer .container{display: flex;}
#site-footer .container a{color: #fff;}
#site-footer .footer-logo img{width: 13rem;margin-bottom: 5rem;}
#site-footer .container .footer-column{width: 25%;}
#site-footer .container .footer-column .footer-socials{display: flex;}
#site-footer .container .footer-column .footer-socials img{height: 1.5rem;margin-right: 1rem;}
#site-footer #copyright{text-align: center;color: #fff;font-size: 0.8rem;margin: 2rem 0;}
#site-footer .container .footer-column .content ul,#site-footer .container .footer-column .content li{margin: 0;list-style: none;font-size: 0.875rem;}
#site-footer .container .footer-column #menu-item-160{margin-top: 2rem;}
#site-footer .container .footer-column .content>li>a{font-size: 1rem;margin-bottom: 0.5rem;display: block;}
#site-footer .container .footer-col-2 .sub-menu li:last-child{margin-top: 2rem;}